*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
       max-width: 70vw;
       padding: 2rem 1rem;
       margin: 0 auto;
       background-color: rgba(237, 248, 251, 0.364);
       box-shadow:
       inset 0 -3em 3em rgba(26, 41, 157, 0.48),
       0 0 0 2px rgb(223, 239, 245),
       0.3em 0.3em 1em rgba(43, 168, 213, 0.6);
}
a{
text-decoration: none;
}
.header-container{
    margin-bottom:2.8rem;
}
.header-title{
    margin-bottom:1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;

}
.header-title:hover{
    
color: rgb(242, 184, 36);
text-decoration: underline rgb(66, 132, 5);

}

.header-desc{
    max-width: 500px;
    text-align: center;
    color: rgb(65, 62, 62);
    margin: 0 auto;
}
.main-container{
    display: grid;
    gap: 1.3rem;
   grid-template-columns: repeat(auto-fit, minmax(250px, 253px));
    /* grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr); */
    /* border: px solid rgb(90, 87, 87); */
    border-radius: 0.8rem;
    padding: 0.6rem;
    /* background-color: rgb(226, 247, 247); */
    box-shadow: 2px 2.7px rgba(128, 128, 128, 0.67), -0.2em 0 .2em rgba(128, 128, 128, 0.438);
    background-color: rgba(237, 248, 251, 0.239);
    justify-content: center;
    /* padding: 10px; */
    /* justify-content: space-evenly; */

}
.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(135, 129, 129);
    border-radius: 0.8rem;
    overflow: hidden;
    

}
.card-container:hover{
    /* background-color: rgba(213, 235, 252, 0.707); */
   border: 2px solid gold;
   transition: 0.7s;

}

.card-img-container{
    position: relative;
   
    height: 14rem;
}
.card-img{
    display: flex;
    object-fit:cover;
    
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    
    
}
.card-title-container{
    display:flex;
    flex-direction: column;
    padding: 1.4rem;

}
.author-container{
    display: flex;

}

.card-content{
 font-size: 0.8rem;
 margin-top: 0.5rem;
}


.author-avtar{
    height: 2rem;
    width: 2rem;
}
.avtar-info-container{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}
.card-footer-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.card-title{
    font-size: 1rem;
}
.card-tag-container{
    border: 1px solid rgb(60, 59, 59);
    border-radius: 0.2rem;
    height: 1.2rem;  
    width: 2.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    

}

/* @media screen and (max-width: 770px){
    .main-container{

        display: grid;
        gap: 1.3rem;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
       
        background-color: hsl(30, 50%, 97%);
    }
/* 
    .card-container{
        background-color: rgb(234, 250, 251);
        /* background-color: hsl(30, 50%, 97%); */
    /* } */

    /* .header-container{
        background-color: rgb(251, 240, 240);
        border-radius: 3rem;
    }


    .card-img{
        display: flex;
        object-fit:cover;
        justify-content: stretch;
        object-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
        
        
/* } */ 